@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
html {
    scroll-behavior:smooth;
  }
*{box-sizing: border-box;
    text-decoration: none;

}


.main{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body{
width: 100%;
height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(36, 40, 52);
    font-family: 'Quicksand', sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x: hidden; 



}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
.main{

    display: flex;
    flex-direction: column;

    height: 100%;

}

.top{
    

    display: flex;
    
    /* background: rgb(16, 16, 16); */
        position: fixed;
        top: 0;
        width: 100%;


}
.leftdiv{
    
     width: 60%;
     height: 50px;
     background: #2ca46d;

}

.rightdiv{

    width: 40%;
    height: 50px;
background-color: #2ca46d;    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }

  
   ul,li{
  

        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 4px;
        margin: 10px;
       font-weight: 550;
       margin-left: 20px;


    }
   
    li:hover{

        transition:  600ms ease;
        display: block;
        background: #373c3a;
        border-radius: 10px;
transform: scale(1.2);
padding: 4px;
    }
   
    .lower{
        width: 100%;
        height: 100vh;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
    }
  
    .pic
    {

   width: 30%;
   height: 85vh;
   align-items: center;
display: flex;
justify-content: flex-end;

}
    .ppbg{

        width: 270px;
        height: 350px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;

    }
    .content{

        /* align-items: center; */
        width: 70%;
margin-top: 50px;
        height: 80vh;
        padding: 20px;

        
    }


h3{
width: fit-content;  
background: #2ca46d;
color: white;
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
    margin-right: 100px ;
    margin-bottom: -10px;
    }

.welcom{
height: 27%;


width: 100%;
display: flex;
margin-top: 51px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.contacts{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    right: 100px;
    height: 30%;
    display: flex;
   align-items: center;
   align-items:center;
   margin-top: 20px;
}


h1{
    margin-right: -65px !important;
    font-family: inherit;
    font-size: 50px;
    font-weight: 700px;
}
a{
    color: white;
}
.fa{
margin-right: 10px;
}

.d1{display: flex;}

.fa{

    margin-bottom: -100px;

    
}
.social{
    width: 100%;
    height: fit-content;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fab{
    height: 50px;
    width: 50px;
    font-size: 25px;

    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px;
margin-top: -50px;

    }
    .iam {
        color: #2ca46d;
    }
    .o{
        font-weight: 450;
    }
    .exl{
        color: black;
    }
    .line{
        width: 100%;
        height: 0;
        position: relative;
    margin-top: -18px;
    }
    hr{

        width: 70%;
height: 0;        display: flex;
align-items: center;    
justify-content: center;
background: black;
}
.secmain{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.aboutme{
    width: 40%;
    height: 50%;
}
.aboutmepic{
    width: 50%;
    height: 50%;

}
.about-me-content{
    color: white;
    text-align: center;
    margin-left: -30px;
  margin-bottom: -50px;
}
.about-me-content-dec{
margin-top: 20px;
    color: white;
    text-align: center;
    margin-top: 50px;
    line-height: 30px;

}
.about-bg{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content:center ;
margin-top: 43px;
}

.q{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.dresume{
    width: 150px;
    height: 35px;
    background: #2ca46d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

 
}
.third-main{

    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.edu{
    text-align: center;
    color: white;
    font-weight: 700;

}
.edu-detail{
    width: 100%;
    height: 500px;
    display: flex;
    padding: 20px;
    margin-top: 30px;

}

.bachelor{


    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    margin: 20px;
    background-color:#2D343E;
    border-radius: 12px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.443);
display : flex;
justify-content: center;
flex-direction: column;
line-height: 0px; 
}
.intermediate{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    margin: 20px;
    background-color:#2D343E;
    border-radius: 12px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.443);
display : flex;
justify-content: center;
flex-direction: column;
line-height: 0px; 

}

.skills{
    text-align: center;
    color: white;
    font-weight: 700;


}
.skill-content{


    color: white;
margin-bottom: -50px;
    text-align: center;
    margin-left: -30px;
  
}
.skill-context{
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    display: flex;

}

.skillleft{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;

}
.skillright{
    width: 50%;
    height: 100%;
    display: flex;
flex-direction: column;
    
    }

    @media (max-width: 768px) {

.top{
    visibility: hidden;
}
.secmain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aboutme{
    width: 100%;
}
.about-me-content-dec{
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 50px;
}
        .skill-context{
        
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            right: 0px;
padding: 10px;
        }
        .progress-container{
            width: 0% !important;
        }
        .courses-container{
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
width: 400px;
    height: 250px;        }
       
        h6{
            visibility: hidden;
        }
        .edu-detail{
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 30px;
        
        }
        
        .skillleft{
            width: 100%;
            
            }
            .skillright{
                width: 100%;
                
                }
                .skill-context{
                    width: 100%;
                    height: fit-content;
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                }
        .bachelor{


            width: 100%;    
           height: 100%;
        display : flex;
        justify-content: center;
        flex-direction: column;
        }
        .intermediate{


            width: 100%;    
           height: 100%;
        display : flex;
        justify-content: center;
        flex-direction: column;
        }
        .course {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            overflow: hidden;
            width: 100%;
            height: 250px;
        }
        }
        


.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
    justify-content: center;
    align-items: center;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 600px;
    height: 250px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	text-transform: uppercase;
}

.course h2 {
	margin: 10px 0;
}

.course-preview {
    background-color:#2D343E;
	color: #fff;
	padding: 10px;
	max-width: 2500px;
    border-radius: 0px  3px 3px 0px;
    border: 1px solid yellow;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;

}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width:250px;

}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 20px;
	width: 100%;
    
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 60%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
}

.fab{
    color: #2ca46d;
}
.p1::after{
    width: 70% !important;
}
.p2::after{
    width: 60% !important;
}
.p3::after{
    width: 84% !important;
}
.p4::after{
    width: 80% !important;

}
.per{
    font-size: 15px;
}
